[submodule "contrib/visionmedia/git-extras"]
	path = contrib/visionmedia/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "contrib/bitly/data_hacks.git"]
	path = contrib/bitly/data_hacks.git
	url = git://github.com/bitly/data_hacks.git
[submodule "contrib/brendangregg/FlameGraph"]
	path = contrib/brendangregg/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "contrib/zsh-users/zsh-autosuggestions"]
	path = contrib/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "contrib/hwyncho/ayu-Terminal-app"]
	path = contrib/hwyncho/ayu-Terminal-app
	url = https://github.com/hwyncho/ayu-Terminal-app
