source $HOME/.dotfiles/vim/vimrc
set background=dark
if !has("gui_running")
    if exists("$TMUX")
        let g:gruvbox_italic=0
    endif
endif
colorscheme gruvbox

let g:airline#extensions#tabline#enabled=1
let g:airline#extensions#tabline#show_buffers=0
let g:airline_powerline_fonts=1
let g:airline_mode_map = {
            \ '__' : '-',
            \ 'n'  : 'N',
            \ 'i'  : 'I',
            \ 'R'  : 'R',
            \ 'c'  : 'C',
            \ 'v'  : 'V',
            \ 'V'  : 'V',
            \ '' : 'V',
            \ 's'  : 'S',
            \ 'S'  : 'S',
            \ '' : 'S',
            \ }

let g:ycm_use_ultisnips_completer = 1
NeoBundleSource YouCompleteMe

NeoBundleSource vim-tmux-navigator

NeoBundleSource ctrlp.vim
NeoBundleSource tagbar
NeoBundleSource vim-fugitive
NeoBundleSource vim-signify

NeoBundleSource vim-airline
